.collection--body--root {
  display: block;
  
}
@media only screen and (min-width: 768px) {
  .collection--body--root {
    padding-top: var(--spacing--block);
  }
}
.collection--body--grid {
  grid-auto-flow: row dense;
}
@media only screen and (min-width: 768px) {
  .collection--body--grid:not([data-columns="2"])
    .featured-content--root[data-promo-width="1"][data-banner-promo] {
    grid-column: span 1;
  }
  .collection--body--grid:not([data-columns="2"])
    .featured-content--root[data-promo-width="2"][data-banner-promo] {
    grid-column: span 2;
  }
  .collection--body--grid:not([data-columns="2"])
    .featured-content--root[data-promo-width="3"][data-banner-promo] {
    grid-column: span 3;
  }
  .collection--body--grid:not([data-columns="2"])
    .featured-content--root[data-promo-width="4"][data-banner-promo] {
    grid-column: span 4;
  }
  .collection--body--grid[data-columns="2"]
    .featured-content--root[data-banner-promo="true"] {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 767px) {
  .collection--body--grid .featured-content--root[data-cover-image="true"] {
    min-height: 200px;
  }
  .collection--body--grid[data-mobile-columns="2"] .featured-content--root {
    grid-column: span 2;
  }
}
.collection--body--grid .featured-content--root > * {
  width: 100%;
}
.collection--body--spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing--7) 0;
}
.collection--body--spinner-wrapper > * {
  margin: 0 auto;
}
.collection--body--empty {
  text-align: center;
  padding: var(--spacing--7) 0;
}
@media only screen and (min-width: 768px) {
  [data-columns="2"] .collection--body--empty {
    grid-column: 1 / span 2;
  }
  [data-columns="3"] .collection--body--empty {
    grid-column: 1 / span 3;
  }
  [data-columns="4"] .collection--body--empty {
    grid-column: 1 / span 4;
  }
}
@media only screen and (max-width: 767px) {
  [data-mobile-columns="1"] .collection--body--empty {
    grid-column: 1 / span 1;
  }
  [data-mobile-columns="2"] .collection--body--empty {
    grid-column: 1 / span 2;
  }
}
.collection--body--pagination {
  padding-top: var(--spacing--block);
}
.collection--body--pagination:empty {
  display: none;
}
