.featured-columns--root {
  padding: 0;
}

.featured-columns-title {
  margin-bottom: 60px;
}

.featured-columns-subtitle {
  justify-content: flex-start;
  margin-bottom: 30px;
}
.featured-columns-subtitle h6 {
  color: var(--bg-color--dark);
  font-weight: 600;
}

.featured-columns-container {
  display: grid;
  align-items: flex-start;
}

.featured-columns-container[data-columns='1'] {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.featured-columns-container[data-columns='2'] {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.featured-columns-container[data-columns='3'] {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media only screen and (max-width: 767px) {
  .featured-columns-container[data-columns='1'] {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .featured-columns-container[data-columns='2'] {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .featured-columns-container[data-columns='3'] {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.featured-columns-container[data-show-gap='true'] {
  gap: 40px;
}

.featured-columns--image-description {
  text-align: center;
  margin: 12px 0;
}

.featured-columns--description[data-padding='true'] {
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  padding: 30px;
  flex-direction: column;
}
