.featured-grid--root {
  text-align: center;
  display: grid;
}
.featured-grid--root[data-block-spacing='false'][data-container-width='6'][data-header-text-exists='false'] {
  padding-top: 0;
}
.featured-grid--root[data-block-spacing='false'][data-container-width='6'][data-footer-text-exists='false'] {
  padding-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-dark-background='true'][data-mobile-overlay='true'] {
    color: var(--color--alternative);
  }
  .featured-grid--root[data-dark-background='true'][data-mobile-overlay='true']
    a,
  .featured-grid--root[data-dark-background='true'][data-mobile-overlay='true']
    a:hover,
  .featured-grid--root[data-dark-background='true'][data-mobile-overlay='true']
    a:link,
  .featured-grid--root[data-dark-background='true'][data-mobile-overlay='true']
    a:visited {
    color: var(--color--alternative);
  }
  .featured-grid--root .placeholder--container {
    padding-top: 100%;
  }
}
.featured-grid--root[data-text-position='bottom']
  .featured-grid--body--container {
  align-items: flex-start;
}
.featured-grid--body {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 1fr);
  position: relative;
}
.featured-grid--root[data-container-width='1'] .featured-grid--body {
  grid-template-columns: minmax(auto, var(--max-width--x-small));
}
.featured-grid--root[data-container-width='2'] .featured-grid--body {
  grid-template-columns: minmax(auto, var(--max-width--small));
}
.featured-grid--root[data-container-width='3'] .featured-grid--body {
  grid-template-columns: minmax(auto, var(--max-width--medium));
}
.featured-grid--root[data-container-width='4'] .featured-grid--body {
  grid-template-columns: minmax(auto, var(--max-width--large));
}
.featured-grid--root[data-container-width='5'] .featured-grid--body {
  grid-template-columns: minmax(auto, 1fr);
}
.featured-grid--root[data-container-width='6'] .featured-grid--body {
  grid-template-columns: minmax(auto, 1fr);
}
.featured-grid--root[data-text-position='bottom'][data-text-alignment='left']
  .featured-grid--body {
  text-align: left;
}
.featured-grid--item {
  align-items: center;
  position: relative;
}
[data-section-id][data-aspect-ratio='natural'] .featured-grid--item {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .featured-grid--body--container[data-mobile-columns='2']
    .featured-grid--item:nth-child(2n + 1):last-child {
    grid-column: 1 / span 2;
    justify-self: center;
    width: calc((100% - var(--spacing--3)) / 2);
  }
}
@media only screen and (min-width: 768px) {
  .featured-grid--item[data-wide='true'] {
    grid-column: span 2;
  }
  .featured-grid--item[data-tall='true'] {
    grid-row: span 2;
  }
}
.featured-grid--item--link-wrapper {
  display: block;
  width: 100%;
}
.featured-grid--item[data-retain-ratio='false']
  .featured-grid--item--link-wrapper {
  height: 100%;
}
.featured-grid--item--container {
  position: relative;
  width: 100%;
}
.featured-grid--root[data-text-position='center']
  .featured-grid--item--container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .featured-grid--item--container
    .featured-grid--root[data-text-position='center'][data-text-style='hover'],
  .featured-grid--root[data-text-position='center'][data-mobile-overlay='false']
    .featured-grid--item--container {
    display: block;
  }
}
.featured-grid--item[data-retain-ratio='false']
  .featured-grid--item--container {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-mobile-overlay='false']
    .featured-grid--item
    .featured-grid--item--container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
[data-section-id][data-aspect-ratio='natural'] .featured-grid--item--container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.featured-grid--item--image[data-item] {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .featured-grid--item[data-retain-ratio='false']
    .featured-grid--item--image[data-item] {
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-text-position='center'][data-mobile-overlay='false']
    .featured-grid--item--image[data-item]
    .image--root {
    height: auto;
  }
}
.featured-grid--root[data-text-position='bottom']
  .featured-grid--item--image[data-item] {
  padding: 0;
}
.featured-grid--root[data-text-position='bottom']
  .featured-grid--item--image[data-item]
  .image--root {
  height: -moz-fit-content;
  height: fit-content;
}
.featured-grid--root[data-text-position='bottom'][data-text-alignment='center']
  .featured-grid--item--image[data-item] {
  margin: 0 auto;
}
.featured-grid--item--number-wrap {
  padding: 8px;
  background-color: white;
  margin: 0 auto 12px;
}
.featured-grid--item--number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border: 4px solid var(--bg-color--dark);
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .featured-grid-strikethrough {
    position: relative;
  }
  .featured-grid-strikethrough .strikethrough {
    width: 66%;
    height: 2px;
    position: absolute;
    top: 60px;
    left: 17%;
    background-color: var(--color--accent-1);
  }
}
.featured-grid--item--overlay-background {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.25s linear;
}
.featured-grid--root[data-apply-overlay='true']
  .featured-grid--item--overlay-background {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-mobile-overlay='false']
    .featured-grid--item--overlay-background {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .featured-grid--root[data-hover-enabled='true']
    .featured-grid--item:hover
    .featured-grid--item--overlay-background {
    opacity: 0.8;
  }
}
.featured-grid--item--text-container {
  display: flex;
}
.featured-grid--root[data-text-position='center']
  .featured-grid--item--text-container {
  align-items: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s linear;
  padding: var(--spacing--block);
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-text-position='center']
    .featured-grid--item--text-container {
    padding: var(--spacing--block--mobile);
  }
}
.featured-grid--root[data-text-position='bottom']
  .featured-grid--item--text-container {
  flex-direction: column;
  padding: var(--spacing--item) var(--spacing--item) 0;
}
.flexbox-gap
  .featured-grid--root[data-text-position='bottom']
  .featured-grid--item--text-container {
  gap: var(--spacing--item);
}
.no-flexbox-gap
  .featured-grid--root[data-text-position='bottom']
  .featured-grid--item--text-container
  > * {
  margin: calc(var(--spacing--item) / 2);
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-text-position='bottom']
    .featured-grid--item--text-container {
    padding: var(--spacing--item--mobile) var(--spacing--item--mobile) 0;
  }
  .flexbox-gap
    .featured-grid--root[data-text-position='bottom']
    .featured-grid--item--text-container {
    gap: var(--spacing--item--mobile);
  }
  .no-flexbox-gap
    .featured-grid--root[data-text-position='bottom']
    .featured-grid--item--text-container
    > * {
    margin: calc(var(--spacing--item--mobile) / 2);
  }
}
.featured-grid--root[data-text-position='bottom']
  .featured-grid--item--text-container
  .featured-grid--item--link {
  padding-bottom: 0;
}
.featured-grid--root[data-text-position='bottom']
  .featured-grid--item[data-image-enabled='false']
  .featured-grid--item--text-container {
  padding-top: 0;
}
.featured-grid--root[data-text-position='bottom'][data-text-alignment='left']
  .featured-grid--item--text-container {
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  .featured-grid--item--text-container
    .featured-grid--root[data-text-position='center'][data-text-style='hover'],
  .featured-grid--root[data-text-position='center'][data-mobile-overlay='false']
    .featured-grid--item--text-container {
    position: relative;
    height: auto;
    width: auto;
    padding: var(--spacing--item--mobile) 0 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[class][data-text-position='center']
    .featured-grid--item--text-container {
    opacity: 1;
  }
  .featured-grid--root[class][data-mobile-overlay='false'][data-background-color='dark']
    .featured-grid--item--text-container,
  .featured-grid--root[data-text-position='center'][data-alt-color='true'][data-mobile-overlay='true']
    .featured-grid--item--text-container {
    color: var(--color--alternative);
  }
  .featured-grid--root[class][data-mobile-overlay='false'][data-background-color='dark']
    .featured-grid--item--text-container
    a,
  .featured-grid--root[class][data-mobile-overlay='false'][data-background-color='dark']
    .featured-grid--item--text-container
    a:hover,
  .featured-grid--root[class][data-mobile-overlay='false'][data-background-color='dark']
    .featured-grid--item--text-container
    a:link,
  .featured-grid--root[class][data-mobile-overlay='false'][data-background-color='dark']
    .featured-grid--item--text-container
    a:visited,
  .featured-grid--root[data-text-position='center'][data-alt-color='true'][data-mobile-overlay='true']
    .featured-grid--item--text-container
    a,
  .featured-grid--root[data-text-position='center'][data-alt-color='true'][data-mobile-overlay='true']
    .featured-grid--item--text-container
    a:hover,
  .featured-grid--root[data-text-position='center'][data-alt-color='true'][data-mobile-overlay='true']
    .featured-grid--item--text-container
    a:link,
  .featured-grid--root[data-text-position='center'][data-alt-color='true'][data-mobile-overlay='true']
    .featured-grid--item--text-container
    a:visited {
    color: var(--color--alternative);
  }
}
@media only screen and (min-width: 768px) {
  .featured-grid--root[data-hover-enabled='true']
    .featured-grid--item:hover
    .featured-grid--item--text-container {
    opacity: 1;
  }
  .featured-grid--root[data-hover-enabled='false']
    .featured-grid--item--text-container {
    opacity: 1;
  }
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--text-container {
    color: var(--color--alternative);
  }
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--text-container
    a,
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--text-container
    a:hover,
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--text-container
    a:link,
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--text-container
    a:visited {
    color: var(--color--alternative);
  }
}
.featured-grid--root[data-text-style='box']
  .featured-grid--item--text-background {
  padding: var(--spacing--item);
  background: var(--bg-color--body);
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-text-style='box']
    .featured-grid--item--text-background {
    padding: calc(var(--spacing--1) / 2);
  }
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-mobile-overlay='false']
    .featured-grid--item--text-background {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-mobile-overlay='false']
    .featured-grid--item--text-background {
    background: 0 0;
  }
}
.featured-grid--item--title {
  width: 100%;
  word-break: break-word;
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-mobile-overlay='false']
    .featured-grid--item--title {
    font-size: 18px;
    font-weight: var(--font--heading--normal-weight);
    line-height: 1.3333333333em;
    margin: -0.25em 0;
  }
}
@media only screen and (min-width: 768px) {
  .featured-grid--root[data-text-position='bottom'][data-block-spacing='false']
    .featured-grid--item--link-container {
    padding-bottom: var(--spacing--item);
  }
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--link-container {
    color: var(--color--alternative);
  }
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--link-container
    a,
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--link-container
    a:hover,
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--link-container
    a:link,
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--link-container
    a:visited {
    color: var(--color--alternative);
  }
  .featured-grid--root[data-alt-color='true'][data-hover-enabled='false']
    .featured-grid--item--link-container:after {
    border-color: var(--color--alternative);
  }
}
@media only screen and (max-width: 767px) {
  .featured-grid--root[data-text-position='center'][data-alt-color='true'][data-mobile-overlay='true']
    .featured-grid--item--link-container:after {
    border-color: var(--color--alternative);
  }
}
.featured-grid--footer--block {
  justify-content: center;
}
