<div class="page rte">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
  {{ page.content }}
  <div class="cz-embed-gallery" id="cz-embed-gallery29449"><!-- ALWAYS KEEP THIS EMPTY --></div>
</div>